/** @format */

.hireme {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.aboveTitle {
  letter-spacing: 2rem;
}

.describtion {
  letter-spacing: 2px;
  line-height: 25px;
}

.btnCtn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  overflow: visible;
  background-color: var(--color-3);
  width: max-content;
  padding: 8px;
  border-radius: 7px;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  place-content: inherit;
  place-items: inherit;
  gap: inherit;
}

.btnCtn button {
  font: inherit;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-1);
}

.describtion {
  text-align: center;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.socialMedia img {
  height: 1.6rem;
}

.socialMediaItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  font: inherit;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-1);
}

.socialMediaItem:hover {
  cursor: pointer;
  opacity: 0.8;
}

.contactMeContainer {
  display: grid;
  grid-template: 0.5fr 0.5fr / 1fr;
  place-items: center;
  gap: 6px;
}

@media screen and (width < 560px) {
  .aboveTitle {
    letter-spacing: 1rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
  .describtion {
    line-height: 20px;
    letter-spacing: normal;
    overflow: auto;
  }
  .bottomSection {
    max-height: 45vh;
    overflow: auto;
  }
}

@media screen and (width < 550px) {
  .btnCtn {
    flex-direction: column;
    font-size: small;
  }

  .socialMedia {
    flex-direction: column;
    font-size: small;
  }

  .contactMeContainer {
    grid-template-columns: 0.5fr 0.5fr;
    gap: 8px;
    font-size: small;
    place-items: start;
  }

  .socialMedia img {
    height: 1rem;
  }

  .bottomSection {
    justify-content: space-between;
    align-content: space-between;
  }
}
