/** @format */

@font-face {
  font-family: "NanumGothic";
  src: url(./fonts/NanumGothic-ExtraBold.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-1: #064802;
  --color-2: #316b5f;
  --color-3: #3a4c37;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
}
